*{
	margin: 0;
}

header{
	height: 200px;
	background: url(fon.jpg);
	background-size: 100%;
}

.nav{
	margin-top: 80px;
	display: flex;
	position: absolute;
	right: 80px;
}

.logo{
	position: absolute;
	left: -200px;
	margin-top: -7px;
}

#nav li{
	float:left;
	position: relative;
	list-style: none;
	background: #9D9D9D;
	width: 190px;
	border: 1px solid #000000;
}

#nav li:hover{
	background: #494949;
}

#nav a{
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 16px 65px;
	color: #ffffff;
}


.content{
	display: flex;
	padding: 20px;
	margin: 20px;
	background-color:#9D9D9D;
}

.content p{
	display: inline-block;
}

body{
	background: #B2C3D3;
}